#hero {
  background-image: url(/images/places/ocean.jpg);
  background-position: center;
  background-size: cover;
  height: 800px;
}

#hero-content {
  background-color: #332f2fcc;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  margin: 0 auto;
  padding: 50px 0;
  position: relative;
  text-align: center;
  top: 200px;
  width: 900px;
}

#hero-content h1 {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  margin: 0;
  text-transform: uppercase;
}

#hero-content p {
  color: white;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 32px;
}

#hero-content a {
  background-color: rgb(255, 251, 0);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  color: #332f2fcc;
  font-size: 24px;
  font-weight: bold;
  padding: 12px 24px;
  text-decoration: none;
}

#hero-content a:hover {
  background-color: rgb(255, 200, 0);
}
#highlights {
  padding: 24px;
  background: linear-gradient(45deg, rgb(227, 255, 253), rgb(202, 243, 240));
}
#highlights h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: rgb(59, 65, 64);
  margin: 24px 0;
}

#destinations {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 40px;
  /* text-align: center; */
  box-sizing: border-box;
}
.destination {
  margin: 0 20px;
}
.destination img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  object-fit: cover;
}

.destination p {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(124, 123, 123);
  margin: 20px 0;
}

.destination strong {
  color: rgb(0, 160, 117);
}
